.banner-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 10%;

    .presentation {
        display: flex;
        width: 100%;
        justify-content: center;

        .presentationImage {
            display: flex;
            width: 20%;
            padding-right: 15%;
        }

        .bannerTitle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            h2 {
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-size: 400%;
                text-shadow: 1px 4px 0px #616581;
                word-wrap: break-word;
                margin-bottom: 2%;
            }

            .cvButton a {
                border: none;
                background-color: rgba($color: #000000, $alpha: 0.5);
                cursor: pointer;
                padding: 8%;
                border-radius: 25px;
                font-size: 100%;
            }

            a:hover {
                font-size: 102%;
                transition: ease-in-out;
            }
        }
    }

    .verticalLinks {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        width: 20%;

        .githubLink {
            width: 10%;
            padding: 4% 8% 4% 6%;
            margin-bottom: 4%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            border-radius: 20px 0px 0px 20px;
            

            img {
                width: 100%;
                cursor: pointer;
                background-color: rgba($color: #000000, $alpha: 0.5);
            }
        }

        .githubLink:hover {
            padding: 4% 10% 4% 6%;
            transition: ease-in-out;
        }

        .instaLink {
            width: 10%;
            padding: 4% 8% 4% 6%;
            margin-bottom: 4%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            border-radius: 20px 0px 0px 20px;
            

            img {
                width: 100%;
                cursor: pointer;
                background-color: rgba($color: #000000, $alpha: 0.5);
            }
        }

        .instaLink:hover {
            padding: 4% 10% 4% 6%;
            transition: ease-in-out;
        }

        .linkedinLink {
            width: 10%;
            padding: 4% 8% 4% 6%;
            margin-bottom: 4%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            border-radius: 20px 0px 0px 20px;
            

            img {
                width: 100%;
                cursor: pointer;
                background-color: rgba($color: #000000, $alpha: 0.5);
            }
        }

        .linkedinLink:hover {
            padding: 4% 10% 4% 6%;
            transition: ease-in-out;
        }
    }
}