.CarouselBlock {
  display: flex;
  width: 100%;
  justify-content: center;

  .slideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    .slides-navigation {
      display: flex;
      width: 45%;
      justify-content: space-between;
      position: absolute;

      img {
        width: 8%;
      }
    }

    .slider {
      width: 100%;

      img {
        object-fit: cover;
        width: 100%;
        border-radius: 25px;
      }
    }
  }
}
