.projectContainer {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .ProjectTextBlock {
        display: flex;

        .textDescription {
            display: flex;
            flex-direction: column;
            width: 70%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            padding: 4%;
            border-radius: 15px;

            h3 {
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-size: 200%;
                text-shadow: 1px 3px 0px #616581;
                word-wrap: break-word;
                margin: 4% 0% 1% 0%;
            }

            h4 {
                font-family: "Bebas Neue", sans-serif;
                font-weight: 400;
                font-size: 150%;
                text-shadow: 1px 2px 0px #616581;
                word-wrap: break-word;
                margin: 4% 0% 1% 0%;
            }

            p {
                text-align: justify;
            }
        }
    }
}